@charset "utf-8";
@import "../../css/normalize";

body {
  background-color: #ededed;
  color: #1a1a1a;
  padding-bottom: 30px;
}

h3 {
  text-align: center;
}

.box {
  background-color: #fff;
  padding: 10px 20px 0;
  margin: 10px 8px;
  border-radius: 10px;
  overflow: hidden;

  .item {
    margin-bottom: 10px;
  }

  .name {
    color: red;
  }
}

.j-copy {
  &:before {
    content: '复制';
  }
}