@charset "utf-8";
@import "../../css/normalize";

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

h3 {
  text-align: center;
}

.box {
  border-bottom: dashed 1px #888;

  p {
    margin: 1em 0;
  }

  .name {
    color: red;
  }
}

.j-copy {
  &::before {
    content: '复制';
  }
}