

.cvc {
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.cc {
  -webkit-transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
}

.abs {
  position: absolute;
}

.lt {
  position: absolute;
  left: 0;
  top: 0;
}

.lb {
  position: absolute;
  left: 0;
  bottom: 0;
}

.rt {
  position: absolute;
  right: 0;
  top: 0;
}

.rb {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mc {
  margin-left: auto;
  margin-right: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
