<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>
    <script>
      var html = document.querySelector('html')
      var rem = html.offsetWidth / 7.5
      html.style.fontSize = rem + 'px'
      var _openId = '123abc', _userName = '小明'
      var debug = true,
        _static_url = 'http://event.dev.xsteach.com/childrens-day',
        _path = '/static/events/childrensday/'
      if (debug) {
        _static_url = ''
        _path = ''
      }
    </script>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
<section class="g-view">
    <label class="loading" v-if="loading">{{loadingText}}</label>
    <section class="section s-cover" v-if="scene==0&&!loading">
        <span class="cimg btnPlay" @click="startGame"></span>
        <p class="footer">Copyright&nbsp;&copy;2017邢帅教育</p>
        <section class="bg">
            <img style="width: 100%;height: 2.7rem;" :src="_path+'images/sCover-bg.png'"/>
            <canvas id="canvas" style="position:absolute;top:0px;z-index:1; height:auto"></canvas>
        </section>
    </section>
    <section class="section s-game" v-if="scene==1&&!loading"><span class="cimg sGame-title"></span>
        <div class="m-question">
            <img style="width: 7rem;height: 7rem;"
                 v-if="user.quIdx!=-1"
                 :src="_path+'images/question'+user.qus[user.quIdx]+'.png'">
        </div>
        <ul class="m-option">
            <li v-for="(item,index) in options" :class="[{active:index==user.answers[user.quIdx]},'ui-item']"
                @click="choiseOption(index)">
                <span :class="[{active:index==user.answers[user.quIdx]},'ui-select']"></span>{{item.txt}}
            </li>
        </ul>
    </section>
    <section class="section s-success" v-if="scene==2&&!loading">
        <div class="hd"><h4 class="ui-title">{{source?friend.name:user.name}}&nbsp;的测试结果</h4></div>
        <div class="cimg m-answerBox">
            <img class="answer-title"
                 :src="_path+'images/answer-tit'+((source?friend.answerIdx:user.answerIdx)+1)+'.png'"/>
            <div class="shadow"></div>
            <div class="answer-text">
                <p>{{answers[source?friend.answerIdx:user.answerIdx]}}</p>
            </div>
            <div class="m-function">
                <button v-if="source" class="cimg btnPlay2" @click="startGame"></button>
                <span v-if="!source" class="cimg btnAgain" @click="startGame"></span>
                <span v-if="!source" class="cimg btnShare" @click="maskShare=true"></span>
            </div>
        </div>
        <img class="qrcode" style="width: 7rem;height: 2.5rem;" :src="_path+'images/sSuccess-qrcode.png'"></section>
    <section class="section mask-share" v-if="maskShare&&!loading" @click="maskShare=false"></section>
</section>
<script src="scripts/vue.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="scripts/index.js"></script>
</body>
</html>